<!-- Add you custom twig html here -->
{{ attach_library('fu_light/fu_light-library') }}
<p>Test twig template!2</p>

<p>test_var: {{ test_var }}</p>
<p>route_var: {{ route_var }}</p>
<div id="myDialog"></div>

